/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: problem.css                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the problem.css page for website. 
*/



input {
  background-color: grey;
  color: white;
}

textarea {
  background-color: grey;
  color: white;
  display: inline-block;
  margin: 0px;
  width: 50vw;
  height: 20vh;
}

#parent {
  background-color: black;
}

.box {
  position: fixed;                                                                 
  border: 2px solid black;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}

#Name {
  margin-top: 10px;
  font-size: 3vh;
}

#problem_box {
  top: 0px;
  right: 20vw;
  width: 20vw;
  height: 25vh;
  text
}

#clickbox {
  top: 0px;
  right: 0px;
}



