/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: general.css                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the problem.css page for website. 
*/

* {
 box-sizing: border-box;
}

body {
  color: white;
  margin: 0px;
}
/* buttons */
.button {
  display: inline-block;
  border: none;
  font-size: .9vw;
  color: white; 
  background-color: rgb(232, 162, 9, 0.4);
  margin: 5px 5px;
  padding: 2px 10px;
  border-radius: 15%;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
 background-color: rgb(232, 162, 9, 0.9); 
}

#logout {
  background-color: rgb(250, 2, 2, 0.4);
}

#logout:hover {
  background-color: rgb(250, 2, 2, 0.9);
}

.label {
  display: inline-block;
  margin: 0px; 
}

/* end buttons*/

.logo {
  float: left;
  color: rgb(0, 45, 194);
  margin: 0px;
}

.box {
  background-color: black;
  position: fixed;                                                                 
  border: 2px solid #555555;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}
