/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: library.css                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the library.html page for website. 
*/

* {
 box-sizing: border-box;
}

body {
  margin: 0px;
}

.box {
  position: fixed;                                                                 
  border: 2px solid black;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}

.prompt p, .prompt button {
  display: inline;
}

#title {
  top: 0px;                                                                     
  left: 0px;                                                                    
  width: 100vw;                                                                 
  height: 20vh;
  text-align: right; 
}

#stats {
  top: 20vh;
  left: 0px;
  width: 100vw;
  height: 20vh;
}

#problems {
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 60vh;
}

#choices {
  position: relative;
  top: 5vh;
  left: 20vw;
  width: 60vw;
  height: 40vh; 
}
