/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: index.html                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the index page for website. 
*/

* {
 box-sizing: border-box;
}

body {
  margin: 0px;
}

.box {
  position: fixed;
  color: inherit;
  border: 2px solid black;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}

#header {
  top: 0px;                                                                     
  left: 0px;                                                                    
  width: 100vw;                                                                 
  height: 15vh;
  position: center;  
}

#login {
  top: 15vh;
  right: 0px;
  height: 85vh;
  width: 20vw;
}

#info {
  top: 15vh;
  left: 0px;
  width: 80vw;
  height: 85vh;
  text-align: center;
  padding-top: 10vh;
}
