/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: problem.css                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the problem.css page for website. 
*/

* {
 box-sizing: border-box;
}

body {
  margin: 0px;
}

textarea {
  display: inline-block;
  margin: 0px;
  padding:0px;
  min-width: 20vw;
  width: 48vw;
  min-height: 80vh;
  max-height: 80vh;
}

.box {
  position: fixed;                                                                 
  border: 2px solid black;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}

#header {
  top: 0px;                                                                     
  left: 0px;                                                                    
  width: 100vw;                                                                 
  height: 15vh;
}

#activity {
  top: 15vh;
  left: 0px;
  width: 100vw;
  height: 85vh;
}

