/*
Author(s): Angel Benavides, Mark Nguyen, Nishant Athawale                       
Class: CS 337, Spring 2023                                                      
File: problem.css                                                                
Assignment: Final Project - LeetCode Clone                                      
Purpose: Add style to the problem.css page for website. 
*/

* {
 box-sizing: border-box;
}

body {
  margin: 0px;
}

.box {
  position: fixed;                                                                 
  border: 2px solid black;                                                         
  padding: 10px;                                                                   
  overflow-y: scroll;        
}

#header {
  top: 0px;                                                                     
  left: 0px;                                                                    
  width: 100vw;                                                                 
  height: 8vh;
}

#info {
  top: 8vh;
  left: 0px;
  width: 45vw;
  height: 92vh;
}

#lang {
  background-color: #696969;
  top: 8vh;
  right: 0px;
  height: 5vh;
  width: 55vw;

}

#board {
  top: 13vh;
  right: 0px;
  width: 55vw;
  height: 79vh;
  padding: 0px;
}

#controls {
  bottom: 0px;
  right: 0px;
  width: 55vw;
  height: 8vh;
}

